:root {
  --active-contrast: darkgreen;
  --alt-active-contrast: #18189b;;
  --blue-contrast: #0c0c5b;
  --green-contrast: #0f621d;
  --light-contrast: rgba(0, 0, 0, 0.54);
  --extra-light-contrast: darkgray;
}
