@if (currentPlaceWithWeather) {
  <div class="current-weather">
    @if (currentPlaceWithWeather.currentTemperature) {
      <div class="current-weather__img-container" [class.with-border]="!currentPlaceWithWeather.iconNumber">
        @if (currentPlaceWithWeather.iconNumber) {
          <app-accuweather-icon
            [iconNumber]="currentPlaceWithWeather.iconNumber"
            [alt]="'Current weather in ' + currentPlaceWithWeather.name"
          ></app-accuweather-icon>
        }
      </div>

      <div class="current-weather__city--info">
        <h2>
          {{ currentPlaceWithWeather.name }}
          <app-emoji-flag
            [tooltip]="currentPlaceWithWeather.countryData.LocalizedName"
            [countryCode]="currentPlaceWithWeather.countryData.ID"
          ></app-emoji-flag>
        </h2>
        <div class="current-weather__city--values">
          <p>
            {{ currentPlaceWithWeather.currentTemperature ? currentPlaceWithWeather.currentTemperature + ' °C' : '' }}
          </p>
          <p>{{ currentPlaceWithWeather.description }}</p>
        </div>
      </div>
      <div class="favorite-btn">
        <ng-content></ng-content>
      </div>
    }
  </div>
}
