:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .forecast-toggle-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 15px;
  }
}
