:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .forecast-toggle-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .chart {
    height: 100%;
    width: 100%;
    min-height: 300px;
    max-height: 100%;
  }
}
